annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
cfgv==3.5.0
click==8.3.3
distlib==0.4.0
fastapi==0.136.1
filelock==3.25.2
h11==0.16.0
httptools==0.7.1
identify==2.6.18
idna==3.13
nodeenv==1.10.0
numpy==2.0.1
platformdirs==4.9.4
pre_commit==4.5.1
pydantic==2.13.3
pydantic_core==2.46.3
python-discovery==1.2.1
python-dotenv==1.2.2
PyYAML==6.0.3
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
uvloop==0.22.1
virtualenv==21.2.0
watchfiles==1.1.1
websockets==16.0
